@import "tailwindcss";

@theme {
  --color-background: #0c0d0f;
  --color-secondary: #b7ab98;
  --color-accent: #f59e0b;
  --color-gray-border: #444444;
  --color-secondary-accent: #904c77;

  --font-brand: "Brockmann", Tahoma, sans-serif;
  --font-spline-mono: "Spline Sans Mono", monospace;
}

@font-face {
  font-family: "Brockmann";
  src: url("/fonts/brockmann.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.hero-text {
  @apply text-5xl md:text-9xl font-bold;
  font-family: var(--font-brand);
}

.sharp-edge {
  position: relative;
  clip-path: polygon(6% 0, 95% 0, 100% 10%, 100% 100%, 0 100%, 0 7%);
  isolation: isolate;
  z-index: 1;
}

.sharp-edge::before {
  content: "";
  position: absolute;
  inset: 0;
  background: transparent;
  border: 2px solid #fff;
  clip-path: inherit;
  z-index: -1;
}

.nav-links {
  position: relative;
}

.nav-underline {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color-secondary);
}
