<footer
  class="mx-0 lg:mx-20 px-15 pt-10 border border-gray-border rounded-0 lg:rounded-t-3xl"
>
  <div
    class="font-brand text-secondary text-lg border-b border-dashed border-gray-500"
  >
    <span>krish agarwal</span>
    <span class="float-right hidden md:block">
      let's build something together
    </span>
  </div>
  <div class="flex flex-col md:flex-row justify-between py-8 gap-6">
    <div>
      <h3
        class="text-gray-400 mb-4 uppercase font-brand border-b-2 border-gray-500"
      >
        Links
      </h3>
      <div class="font-spline-mono text-secondary">
        <a
          href="#home"
          class="block mb-2 hover:underline cursor-vanish"
        >
          Home
        </a>
        <a
          href="#works"
          class="block mb-2 hover:underline cursor-vanish"
        >
          Works
        </a>
        <a
          href="#about"
          class="block mb-2 hover:underline cursor-vanish"
        >
          About
        </a>
        <a
          href="#contact"
          class="block mb-2 hover:underline cursor-vanish"
        >
          Contact
        </a>
      </div>
    </div>
    <div>
      <h3
        class="text-gray-400 mb-4 uppercase font-brand border-b-2 border-gray-500"
      >
        Socials
      </h3>
      <div class="font-spline-mono text-secondary">
        <a
          href="https://github.com/ikrishagarwal"
          class="block mb-2 hover:underline cursor-vanish"
        >
          Github
        </a>
        <a
          href="https://www.linkedin.com/in/ikrishagarwal"
          class="block mb-2 hover:underline cursor-vanish"
        >
          LinkedIn
        </a>
        <a
          href="https://www.instagram.com/coffee.to.code.machine"
          class="block mb-2 hover:underline cursor-vanish"
        >
          Instagram
        </a>
      </div>
    </div>
    <div>
      <h3
        class="text-gray-400 mb-4 uppercase font-brand border-b-2 border-gray-500"
      >
        Connect
      </h3>
      <div class="font-spline-mono text-secondary">
        <a
          href="mailto:foronlykrish@gmail.com"
          class="block mb-2 hover:underline cursor-vanish"
        >
          Mail
        </a>
      </div>
    </div>
  </div>
  <div class="text-gray-400 px-8 py-6 text-center font-spline-mono">
    &copy; {new Date().getFullYear()} Krish Agarwal. All rights reserved.
  </div>
</footer>
