<section
  id="about"
  class="min-h-screen w-full text-secondary px-8 py-20 border-b border-gray-border"
>
  <h1
    id="about-heading"
    class="text-5xl md:text-8xl font-bold mb-4 font-brand text-center"
  >
    About Me
  </h1>
  <div
    id="about-container"
    class="max-w-4xl mx-auto mt-20 text-justify text-sm md:text-xl lg:text-2xl leading-relaxed font-spline-mono font-regular"
  >
    <p class="mb-6 about-text">
      Hello! I'm Krish, a passionate developer with a love for
      creating beautiful and functional web applications. With a
      strong background in JavaScript and React, I enjoy building
      user-friendly interfaces and exploring new technologies. In my
      free time, I like to contribute to open-source projects and
      learn about the latest trends in web development.
    </p>
    <p class="about-text">
      I have worked in various full-stack projects, mobile
      applications, games, bot and automation scripts, and even
      hardware projects like mechanical keyboards. My goal is to
      continuously improve my skills and contribute to meaningful
      projects that make a difference.
    </p>
  </div>
</section>

<script>
  import gsap from "gsap";
  import { SplitText, ScrollTrigger } from "gsap/all";

  const heading = document.getElementById("about-heading");

  gsap.registerPlugin(SplitText, ScrollTrigger);

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: heading,
      start: "top 80%",
    },
  });

  const split = new SplitText(heading, {
    type: "chars",
  });

  tl.fromTo(
    split.chars,
    { x: -20, opacity: 0 },
    {
      duration: 1,
      x: 0,
      opacity: 1,
      stagger: 0.05,
      ease: "back.out",
    },
  );

  // const t2 = gsap.timeline({
  //   scrollTrigger: {
  //     trigger: "#about-container",
  //     start: "top top",
  //     end: "+=150%",
  //     markers: true
  //   }
  // });

  const aboutSplit = new SplitText(".about-text", {
    type: "words",
    mask: "words",
  });

  gsap.fromTo(
    aboutSplit.words,
    { opacity: 0.3 },
    {
      duration: 1,
      opacity: 1,
      stagger: 0.1,
      ease: "power2.out",
      scrollTrigger: {
        trigger: heading,
        start: "center 65%",
        end: "center 15%%",
        scrub: true,
      },
    },
  );
</script>
