<section
  id="contact"
  class="min-h-screen w-full text-secondary px-8 py-32 flex flex-col"
>
  <h1
    id="contact-heading"
    class="text-5xl md:text-7xl lg:text-8xl font-bold font-brand text-center flex-4"
  >
    How about we work on something together?
  </h1>
  <div
    class="max-w-4xl mx-auto text-xl leading-relaxed font-spline-mono font-regular flex-2"
  >
    <div class="flex flex-col items-center text-center">
      <p id="contact-desc" class="mb-10 px-4">
        I'm always open to discussing new projects, creative ideas, or
        opportunities to be part of your visions. Feel free to reach
        out to me via email.
      </p>
      <div class="flex flex-row lg:flex-col">
        <a
          href="mailto:foronlykrish@gmail.com"
          class="mr-3 lg:mr-0 cursor-vanish"
        >
          <button
            class="cursor-pointer w-full mt-3 px-18 lg:px-24 py-3 bg-secondary text-background font-spline-mono font-bold rounded-xl hover:bg-accent transition-colors"
          >
            Get in Touch
          </button>
        </a>
      </div>
    </div>
  </div>
</section>

<script>
  import gsap from "gsap";
  import { SplitText, ScrollTrigger } from "gsap/all";

  const heading = document.getElementById("contact-heading");
  const desc = document.getElementById("contact-desc");

  gsap.registerPlugin(SplitText, ScrollTrigger);

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: heading,
      start: "top 80%",
    },
  });

  const split = new SplitText(heading, {
    type: "words",
  });

  tl.fromTo(
    split.words,
    { y: -20, opacity: 0 },
    {
      y: 0,
      opacity: 1,
      duration: 1.2,
      ease: "power2.out",
      stagger: 0.2,
    },
  );

  const contactPitchSplit = new SplitText(desc, {
    mask: "lines",
    type: "lines",
  });

  tl.fromTo(
    contactPitchSplit.lines,
    { y: "-100%" },
    {
      duration: 1,
      y: 0,
      stagger: 0.1,
      scrollTrigger: {
        trigger: heading,
        start: "top 80%",
      },
      ease: "power2.out",
    },
    "<.5",
  );
</script>
