---
import Time from "@/components/Time.astro";
---

<header id="navbar" class="flex text-secondary border-b border-b-gray-border px-6 py-6 items-center sticky">
  <div class="text-xl flex-1 lg:flex-none cursor-pointer cursor-vanish font-spline-mono" id="name-trigger">
    krish{" "}
    <span id="name-animated" class="hidden md:inline opacity-0 absolute text-accent"> agarwal </span>
  </div>

  <div class="flex-1 hidden lg:block">
    <nav class="flex justify-center gap-4 font-spline-mono uppercase">
      <a href="/" class="nav-links cursor-vanish">
        <span class="nav-text">Home</span>
        <span class="nav-underline"></span>
      </a>
      <a href="/works" class="nav-links cursor-vanish">
        <span class="nav-text">Works</span>
        <span class="nav-underline"></span>
      </a>
      <a href="https://blog.ikrish.dev" class="nav-links cursor-vanish">
        <span class="nav-text">Blogs</span>
        <span class="nav-underline"></span>
      </a>
    </nav>
  </div>

  <div class="font-spline-mono text-gray-400">
    <Time />
  </div>
</header>

<script>
  import gsap from "gsap";
  import { ScrambleTextPlugin } from "gsap/all";

  const nav = document.getElementById("navbar");
  const nameTrigger = document.getElementById("name-trigger");
  const nameAnimated = document.getElementById("name-animated");

  gsap.registerPlugin(ScrambleTextPlugin);

  const navbarTl = gsap.timeline();

  navbarTl.fromTo(
    nav,
    {
      y: -100,
      opacity: 0,
      scaleX: 0.95,
      scaleY: 0.8,
      borderRadius: "8px",
      borderTop: "1px solid #444444",
      borderLeft: "1px solid #444444",
      borderRight: "1px solid #444444",
    },
    { y: 0, opacity: 1, duration: 0.5, ease: "power2.out" },
  );

  navbarTl.to(nav, {
    scaleX: 1,
    scaleY: 1,
    borderRadius: "0px",
    borderTop: "none",
    borderLeft: "none",
    borderRight: "none",
    duration: 0.75,
    ease: "power2.out",
  });

  // Name scramble animation
  let nameAnimation: gsap.core.Tween | null = null;

  const animateName = () => {
    if (nameAnimation) nameAnimation.kill();

    nameAnimation = gsap.to(nameAnimated, {
      opacity: 0.9,
      duration: 1.5,
      ease: "power2.out",
      scrambleText: {
        text: "agarwal",
        chars: "01",
        speed: 0.3,
      },
    });
  };

  const revertName = () => {
    if (nameAnimation) nameAnimation.kill();

    gsap.to(nameAnimated, {
      opacity: 0,
      duration: 0.2,
      ease: "power2.out",
      onComplete: () => {
        gsap.set(nameAnimated, { opacity: 0 });
      },
    });
  };

  nameTrigger!.addEventListener("mouseenter", animateName);
  nameTrigger!.addEventListener("mouseleave", revertName);

  // Nav link hover animations
  const navLinks = document.querySelectorAll(".nav-links") as NodeListOf<Element & { tl: gsap.core.Timeline }>;
  const navUnderlines = document.querySelectorAll(".nav-underline");
  const navTexts = document.querySelectorAll(".nav-text");

  navLinks.forEach((link, i) => {
    const underline = navUnderlines[i];
    const navText = navTexts[i];

    const tl = gsap.timeline({ paused: true });

    if (underline) {
      tl.add("start");

      tl.fromTo(underline, { width: "0%", left: "0%" }, { width: "100%", duration: 0.5 });

      tl.to(
        navText,
        {
          scrambleText: {
            text: navText.textContent || "",
            chars: "01",
          },
          duration: 0.8,
          ease: "power2.out",
        },
        "start",
      );

      tl.add("midway");

      tl.fromTo(
        underline,
        { width: "100%", left: "0%" },
        {
          width: "0%",
          left: "100%",
          duration: 0.5,
          immediateRender: false,
        },
      );
    }

    link.tl = tl;

    link.addEventListener("mouseenter", () => {
      link.tl.tweenFromTo(0, "midway");
    });

    link.addEventListener("mouseleave", () => {
      link.tl.play();
    });
  });
</script>
