@import "tailwindcss";

@theme {
  /* Colors */
  --color-gray-border: #444444;
  --color-background: #0a090f;
  /* Fonts */
  --font-brand: "Brockmann", Tahoma, sans-serif;
  --font-spline-mono: "Spline Sans Mono", Arial, monospace;
}

.hero-text {
  @apply text-4xl md:text-9xl font-bold;
  font-family: var(--font-brand);
}
